@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html{
  background-color: black;
  text-align: center;
  }
  
body{
  color: white;
}

footer{
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  align-items: center;
  font-size: 25px;
}

article{
  background-color: #2b2b2b;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
}
a{
  text-decoration: none;
  color: white;
  width: 90%;
}
.container{
  column-count: 2;
  column-gap: 30px;
}
.a_tg{
  display: inline-block;
  flex: auto;
  padding: 30px;
  margin-top: 40px;
  background-color: #29a8eb;
  border-radius: 20px;
}
.a_vk{
  display: inline-block;
  flex: auto;
  padding: 30px;
  margin-top: 40px;
  background-color: #2787f5;
  border-radius: 20px;
}
