html{
  background-color: black;
  text-align: center;
  }
body{
  color: white;
}
footer{
  background-color: white;
  color: black;
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
